/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.header {
  background-color: var(--bkg-color);
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--accent-color);
  inline-size: 100%;
  max-inline-size: 700px;
}

.page {
  inline-size: 100%;
  min-inline-size: 375px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  /*background-color: var(--bkg-color);*/
  color: var(--accent-color);
  background-image: var(--bkg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  margin: 0 auto;
}

.title {
  text-decoration: none;
  font-family: var(--pressstart2p, 'Press Start 2P');
  font-weight: var(--text-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin: clamp(8.625rem, 7.2729rem + 1.5023vw, 7.625rem) clamp(1rem, -5.2965rem + 14.3919vw, 7.65625rem) 0;
  @media (width <= 700px) {
    margin: 122px 16px 0;
    font-size: 49px;
    font-weight: 49px;
  }
}

.title:focus-visible {
  outline: none;
}

.subtitle {
  justify-self: center;
  font-family: var(--pressstart2p, 'Press Start 2P');
  font-weight: var(--text-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin: 20px  auto 0 clamp(5.1875rem, -0.3995rem + 12.7703vw, 11.09375rem);
  text-transform: uppercase;
  @media (width <= 700px) {
    font-size: 14px;
    margin: 20px auto 0 83px;
  }
}

.theme-menu {
  display: grid;
  justify-content: start;
  position: relative;
}

.theme-menu__list {
  justify-self: end;
  display: grid;
  gap: 14px;
  justify-content: center;
  align-content: center;
  margin: 25px auto 20px clamp(9.75rem, 0.2314rem + 21.7568vw, 19.8125rem);
  font-family: var(--pressstart2p, 'Press Start 2P');
  font-size: 14px;
  font-weight: var(--text-weight);
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  padding: 0;
  transition: color 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:hover {
  cursor: pointer;
  color: var(--accent-color-for-active-theme);
}

.theme-menu__button:disabled {
  color: var(--accent-color-for-active-theme);
  pointer-events: none;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 0px;
  background-color: var(--accent-color-for-active-theme);
  transition: width 1300ms;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus-visible {
  border: none;
  outline: none;
  color: var(--accent-color-for-active-theme);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  display: block;
  top: 0;
  left: -20px;
  font-size: 16px;
  animation: moving 0.5s ease-in-out infinite alternate;
}

.content {
  /*background-color: var(--bkg-color);*/
  display: grid;
}

.content-list {
  inline-size: 100%;
  max-inline-size: 700px;
  display: grid;
  gap: 50px;
}

.content-list_item {
  inline-size: 100%;
  max-inline-size: 700px;
  background-color: var(--bkg-color);
  list-style: none;
  border: 2px solid var(--accent-color);
}

.card {
  display: grid;
}

.label {
  position: relative;
}

.label-text {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--pressstart2p, 'Press Start 2P');
  font-weight: var(--text-weight);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  color: var(--watermark-color);
  text-shadow:
    -1px -1px 0 var(--watermark-shadow-color),
    1px -1px 0 var(--watermark-shadow-color),
    -1px 1px 0 var(--watermark-shadow-color),
    1px 1px 0 var(--watermark-shadow-color);
  
  @supports ((-webkit-text-stroke: 1px var(--watermark-shadow-color)) or (text-stroke: 1px var(--watermark-shadow-color))) {
    -webkit-text-stroke: 1px var(--watermark-shadow-color);
    text-stroke: 1px var(--watermark-shadow-color);
    text-shadow: none;
  }

  z-index: 1;
}

.upper {
  text-transform: uppercase;
}

.title-decor {
  font-family: var(--inter, 'Inter');
  font-weight: var(--title-weight);
  font-size: 18px;
  line-height: 21px;
  padding: 5px 10px;
  margin: 0;
  outline-offset: 10px;
  border-block-end: 2px solid var(--accent-color);
}

.text {
  font-family: var(--inter, 'Inter');
  font-weight: var(--text-weight);
  font-size: 18px;
  line-height: 21px;
  padding: 25px 25px 0 25px;
  margin: 0;
}

.padding-block-start {
  outline-offset: 25px;
  border-block-start: 2px solid var(--accent-color);
}

.last_p {
  margin-block-end: 25px;
}

.buttons {
  display: flex;
  justify-self: end;
  justify-content: flex-end;
  align-items: center;
}

.button {
  padding: 0;
  border: 2px solid var(--accent-color);
  outline: none;
  background-color: var(--bkg-color);
  position: relative;
  box-shadow: 2px 2px 0 transparent;
  transform: scaleX(1);
}

.button:hover {
  cursor: pointer;
}

.button::after {
  content: '';
  display: block;
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
}

.card__icon-button {
  padding: 0;
  height: 34px;
  margin: 0 5px 25px 0;
  border: none;
  background-color: inherit;
  outline: 2px solid transparent;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline-color: var(--accent-color);
  transition: outline-color 0.3s;
  transition-timing-function: ease;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--hearth-fill-color, red);
  transition: fill 0.3s;
  transition-delay: 0.06s;
}

.card__icon-button .main-body {
  fill: transparent;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--hearth-fill-color, red);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--hearth-fill-color, red);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.card__icon-button .core {
  fill: none;
  transition: fill 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s;
}

.card__icon-button:active .core {
  fill: var(--hearth-fill-color, red);
  transition: fill 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--hearth-fill-color, red);
  transition: fill 0.3s;
}

.sparks {
  fill: none;
}

.like-icon.is-liked .hearth {
  animation: scaling 0.3s ease-in 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparking 0.3s ease-in 1 alternate;
  animation-delay: 0.3s;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  margin: 0 25px 25px 0;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
  font-family: var(--pressstart2p, 'Press Start 2P');
  font-weight: var(--text-weight);
  font-size: 14px;
  line-height: 13px;
  /*margin-block-end: 10px;*/
}

.button-to-save {
  justify-self: center;
  margin: 50px clamp(2.1875rem, 1.3292rem + 3.662vw, 4.625rem) clamp(6.25rem, 4.9736rem + 5.446vw, 9.875rem);
  padding: 0 15px 0 15px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 334px;
  block-size: 100%;
  
  max-block-size: 55px;

  @media (width <= 700px) {
    flex-direction: column;
    margin-block-end: 20px;
    max-block-size: 84px;
    max-inline-size: 306px;
  }
}

.floppy-svg {
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
  inline-size: 21px;
  block-size: 21px;

  @media (width <= 700px) {
    inline-size: 28px;
    block-size: 28px;
  }

  @media (width > 800px) {
    inline-size: 21px;
    block-size: 21px;
  }
}



.image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.image_grayscale {
  filter: grayscale(30%) contrast(250%);
}

.image_hue-rotate {
  filter: hue-rotate(70deg);
}

.image_saturate {
  filter: saturate(210%);
}

.image_opacity {
  filter: opacity(80%);
}

.image_brightness {
  filter: brightness(0.7);
}

.image_sepia {
  filter: sepia(0.6);
}

.image_nice {
  filter: saturate(210%) sepia(0.4) brightness(0.9) hue-rotate(10deg);
}

.dialog {
  padding: 0;
  inline-size: 100%;
  min-inline-size: 341px;
  max-inline-size: 353px;
  block-size: 191px;
}
.dialog[open] {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--bkg-color);
  border: 2px solid var(--accent-color);
}

.dialog[open] .dialog__text {
  justify-self: end;
  color: var(--accent-color);
  font-family: var(--pressstart2p, 'Press Start 2P');
  font-weight: var(--text-weight);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog[open] .dialog__button {
  justify-self: center;
  text-transform: uppercase;
  margin: 0 17px 30px;
  block-size: 38px;
  inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
  min-inline-size: 257px;
}

.dialog[open] .dlg {
  display: grid;
  grid-template-columns: 39px min-content;
  justify-content: center;
  align-content: center;
  gap: 10px;
  margin: 20px 40px;
}

.dlg .floppy-svg {
  inline-size: 39px;
  block-size: 39px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter-Variable', sans-serif;
  }
}