/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --inter: 'Inter';
    --pressstart2p: 'PressStart2P';
    --title-weight: 700px;
    --text-weight: 400px;

    --bkg-color: rgb(255, 255, 255, 1);
    --button-text-color: rgb(255, 255, 255, 1);
    --accent-color: rgb(0, 0, 0, 1);
    --accent-color-for-active-theme: rgb(0, 0, 0, 0.6);
    --watermark-color: rgb(0, 0, 0, 0.5);
    --watermark-shadow-color: rgb(255, 255, 255, 0.5);
    --hearth-fill-color: red;
    --contour-color: rgb(0, 0, 0, 1);

    --bkg-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}

:root.theme-dark {
    --inter: 'Inter', sans-serif;
    --pressstart2p: 'PressStart2P';
    --title-weight: 785px;
    --text-weight: 465px;

    --bkg-color: rgb(0, 0, 0, 1);
    --button-text-color: rgb(0, 204, 20, 1);
    --accent-color: rgb(0, 204, 20, 1);
    --accent-color-for-active-theme: rgb(0, 204, 20, 0.6);
    --watermark-color: rgb(0, 204, 20, 0.5);
    --watermark-shadow-color: rgb(0, 0, 0, 0.5);
    --hearth-fill-color: red;
    --contour-color: rgb(0, 204, 20, 1);
    
    --bkg-image: repeating-linear-gradient(to right, #000000 0 2px, transparent 2px 4px),
                repeating-linear-gradient(to bottom, #000000 0 2px, transparent 2px 4px),
                linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);

}

@media (prefers-color-scheme: dark) {
    :root {
        --inter: 'Inter', sans-serif;
        --pressstart2p: 'PressStart2P';
        --title-weight: 785px;
        --text-weight: 465px;

        --bkg-color: rgb(0, 0, 0, 1);
        --button-text-color: rgb(0, 204, 20, 1);
        --accent-color: rgb(0, 204, 20, 1);
        --accent-color-for-active-theme: rgb(0, 204, 20, 0.6);
        --watermark-color: rgb(0, 204, 20, 0.5);
        --watermark-shadow-color: rgb(0, 0, 0, 0.5);
        --hearth-fill-color: red;
        --contour-color: rgb(0, 204, 20, 1);

        --bkg-image: repeating-linear-gradient(to right, #000000 0 2px, transparent 2px 4px),
                    repeating-linear-gradient(to bottom, #000000 0 2px, transparent 2px 4px),
                    linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
    }
}

@supports (font-variation-settings: normal) {
    :root {
        --inter: 'Inter-Variable', sans-serif;
    }
}